body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:684px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:661px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.988235294117647);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u189 {
  position:absolute;
  left:235px;
  top:39px;
  width:449px;
  height:661px;
  color:#1E1E1E;
}
#u190 {
  position:absolute;
  left:2px;
  top:322px;
  width:445px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:58px;
}
#u191 {
  position:absolute;
  left:609px;
  top:629px;
  width:65px;
  height:58px;
}
#u192 {
  position:absolute;
  left:2px;
  top:21px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:58px;
}
#u193 {
  position:absolute;
  left:537px;
  top:629px;
  width:62px;
  height:58px;
}
#u194 {
  position:absolute;
  left:2px;
  top:21px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:312px;
}
#u195 {
  position:absolute;
  left:235px;
  top:126px;
  width:449px;
  height:311px;
}
#u196 {
  position:absolute;
  left:2px;
  top:148px;
  width:445px;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:308px;
  top:58px;
}
#u197_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u197_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:52px;
}
#u199 {
  position:absolute;
  left:2px;
  top:18px;
  width:299px;
  word-wrap:break-word;
}
#u197_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u197_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u200 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:52px;
}
#u201 {
  position:absolute;
  left:2px;
  top:18px;
  width:299px;
  word-wrap:break-word;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:128px;
}
#u202 {
  position:absolute;
  left:252px;
  top:464px;
  width:173px;
  height:127px;
}
#u203 {
  position:absolute;
  left:2px;
  top:56px;
  width:169px;
  word-wrap:break-word;
}
#u204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
}
#u204 {
  position:absolute;
  left:435px;
  top:497px;
  width:235px;
  height:48px;
  font-size:20px;
  color:#CCCCCC;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u206 {
  position:absolute;
  left:252px;
  top:625px;
  width:140px;
  height:40px;
}
#u207 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u208 {
  position:absolute;
  left:402px;
  top:625px;
  width:140px;
  height:40px;
}
#u209 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
